rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /recipes/{document=**} {
      allow read, write: if
           // any logged in user can create new documents
      allow create: if request.auth != null;
      // logged in users can read, update and delete their own documents
      allow read, delete, write: if request.auth.uid == resource.data.userId;
    }
  }
}